* {
    margin: 0%;
    padding: 0%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
}

header h1 {
    background-color: aqua;
    padding: 10px 10px 10px 57px;

}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
    text-decoration: underline;
  }
  

nav ul li {
    list-style: none;
  }
  

  nav a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
  }

.jumbotron {
    color: aqua;
    background-image: linear-gradient(180deg, red, yellow);
    height: 49px;
    padding-top: 90px;
    padding-bottom: 16px;
    display: flex;
    justify-content: flex-end;
}


.jumbotron h2 {
    background-color: rgb(69, 46, 58);
    padding-bottom: 14px;
    padding-right: 41px;
    padding-left: 9px;
    padding-top: 14px;
    text-align: right;
}

.picture {
    height: 20vh;
    background-image: url ('../pictures/Screenshot1.png');
}

body {
    font-family: Arial, 'Times New Roman', Times, serif;
    margin: 0;
    line-height: 1;
    flex-direction: column;
    background-color: rgb(249, 247, 245);
    width: 100%
  }
  
div section {
    float: left;
    margin: 0 5.5%;
    position: relative;
    padding: 60px 46px;
    margin-left: 58px;

}

/* Turns this element into a flexbox */
/* Forces elements to the next line if they don't fit */
main {
    margin-top: 5%;
    display: flex;
  }


.information {
    font-size: 20px;
    padding-left: 96px;
    padding-top: 104px;
    padding-bottom: 37px;
    margin: -48px;
    border-right: 1mm solid black;

}

div aside {
    float: right;
    margin: 0% 15%;
    width: 85%;
    position: absolute;
    margin-top: -40px;
    margin-left: 100px;
    line-height: 25px;
   
}


.information2 {
    font-size: 20px;
    padding-left: 96px;
    padding-top: 104px;
    padding-bottom: 600px;
    margin: -48px;
    border-right: 1mm solid black;
    margin-top: 8px;
    margin-left: 13px;

}

.lol {
    float: right;
    margin: 0% 15%;
    width: 85%;
    position: absolute;
    margin-top: 4px;
    margin-left: 100px;
    margin-left: 102px;
    padding-top: 68px;
    padding-bottom: 272px;
    padding-right: 53px;
    border: 0px aqua;

}

.container {
    border: 1px salmon;
} 


.information3 {
    font-size: 20px;
    padding-left: 70px;
    padding-top: 104px;
    padding-bottom: 37px;
    margin: -48px;
    border-right: 1mm solid black;
    margin-top: 22px;

}

.lol2 {
    float: right;
    width: 80%;
    margin-top: 135px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: underline;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

/* Code below is for each box that repreesnts my work */

.box1 {
    background-color: blue;
    height: 340px;
    margin-top: -65px;
    width: 93%;
    border-style: solid;
    border-width: 10px;
    border-color: black;
}

.box2 {
    background-color: rgb(255, 0, 51);
    height: 160px;
    width: 45.25%;
    border-style: solid;
    border-width: 10px;
    border-color: blue;
    margin-left: 0px;
}

 .box3 {
    background-color: rgb(17, 37, 44);
    height: 160px;
    width: 45.25%;
    margin-top: -180px;
    margin-left: 10px;
    margin-right: 37.5px;
    float: right;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(255, 0, 0);
}

.box4 {
    background-color: rgb(204, 255, 0);
    height: 160px;
    width: 45.25%;
    border-width: 10px;
    border-color: #01ff00;
    border-style: solid;
}

.box5 {
    background-color: rgb(255, 0, 221);
    height: 160px;
    width: 45.25%;
    margin-top: -180px;
    margin-right: 37.5px;
    float: right;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(255 101 0);

} 

.Single {
    padding: 15px 3px 12px 23px;
    background-color: white;
    margin-right: 1485px;
    margin-top: 0px;

}

.Together {
    padding: 15px 3px 12px 23px;
    background-color: white;
    margin-right: 600px;
}

div h3 {
    color: burlywood;
}
div h4 {
    color: burlywood;
}

@media screen and (max-width: 600px) {
    .boxheader {
      background-color: turquoise;
      display: inline-block; 
      text-align: wrap;
    }
  }













  